body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

input {
  padding: 9px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

#balance {
  border: 1px solid black;
  background-color: white;
  margin: 10px 0;
  padding: 5px 0;
  &:before {
    content: "Balance:";
  }
}

.components {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  > div {
    background-color: #eee;
    margin: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    h1 {
        margin: 0 0 20px;
    }
  }
}

.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 9px 25px;
  margin: 10px 10px 10px 10px;
  font-size: 0.7em;
  letter-spacing: 0.7px;
  background-color: #f58427;

  &:hover {
    cursor: pointer;
  }
}

.header {
  padding: 10px;
  text-align: center;
  background: #2F54FF;
  color: white;
  font-size: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #050505;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}
